{{> head }}
{{> navbar }}

<div class="row">

     <div class="col-8">
         <h1>A colheita de Trigo</h1>
         <p>
             Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fuga perspiciatis quia iste, laudantium libero vitae minima cum molestiae dicta, officia repellat maiores facere alias quisquam excepturi a reprehenderit explicabo. Commodi.
         </p>
     </div>
     <div class="col-4">
         <img src="assets/img/eu.png" class="img-thumbnail">

     </div>
</div>

 {{> footer}}